<%- include pulic/header.ejs %>
<ul>
    <li>
        <a href="meal">吃饭系统</a>
    </li>
    <li>
        <a href="/haibinSystem">海滨网络系统</a>
    </li>
    <li>
        <a href="http://imsunhao.com">我的个人网站</a>
    </li>
    <li>
        <a href="#">我的博客系统(新站基于nodeJS)</a>
    </li>
</ul>
<%- include pulic/footer.ejs %>
