<form action="/post" method="post">
    <table>
        <caption>发帖</caption>
        <tr><th>title</th><th>tag</th><th>content</th></tr>
        <tr><td><input type="text" name="title"></td><td><input type="text" name="tag"></td><td><input type="text" name="content"></td></tr>
        <tr><td><input type="submit"></td></tr>
    </table>
</form>