<%- include header.ejs %>

<h2 class="title">Markdown写作浅谈</h2>
<div class="info">
    <span class="info-title"> Published: </span>
    <span class="info-date">18 Jun 2017</span>
    <span class="info-title"> Category: </span>
    <span class="info-link"><a href="#">啦啦啦</a></span>
</div>
<%-body%>

<%- include footer.ejs %>