<!--<nav class="article-previous fn-clear">-->

<!--<a class="prev" href="/psy/open-science-toolbox.html" rel="bookmark">&laquo;&nbsp;未完成</a>-->


<!--<a class="next" href="/tech/pandoc.html" rel="bookmark">未完成&nbsp;&raquo;</a>-->

<!--</nav>-->

<%if(sessionUser==author){%>
<form action="#" method="post">
    <p>
        <input type="checkbox" value='1' name="public">分享文章
    </p>
    <p><button>提交</button></p>
</form>
<%}%>
<div class="comment">
    <div id="disqus_thread"></div>
</div>
</div>
</div>
</div>
</div>
<!--<div class="foot">-->
<!--<div class="footer">-->
<!--<p>Copyright 2013. All rights reserved. Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a>,-->
<!--Design by <a href="http://www.zhanxin.info" target="_blank">zhanxin.info</a>.</p>-->
<!--</div>-->
<!--</div>-->

</body>
</html>