@import "compass";
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, group, menu, nav, section {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

body {
  background: #92b3a2 url(/images/blog/bg.jpg) repeat 0 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Georgia, Hiragino Sans GB, \5b8b\4f53;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #91736b;
  text-decoration: none;
}

::-moz-selection {
  background: rgba(252, 252, 82, 0.2)
}

::selection {
  background: rgba(252, 252, 82, 0.2)
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/*****************************************************************************/
/*
/*  Schema by imsunhao
/*
/*****************************************************************************/


/* --- head --- */


/* --- contain --- */
.container {
  width: 960px;
  height: auto;
  min-height: 500px;
  margin: 0 auto;
}

.main {
  /*float: left;*/
  padding: 40px 30px;
  width: 90%;
  min-height: 600px;
  height: auto;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  background: #e3ded8 url(/images/blog/cnt-top.jpg) repeat-x 0 0;

  .article {
    line-height: 1.6;
    position: relative;
    margin-bottom: 40px;

    h1 {
      font-size: 28px;
      color: #000;
    }

    h2 {
      font-size: 24px;
      border-bottom: 1px solid #ccc;
      color: #000;
    }

    h3 {
      &:after{
        content: " ";
        position: absolute;
        height: 28px;
        background-color: #5e5e5e;
        width: 15px;
        left: -30px;
      }
      font-size: 18px;
      color: #111;
      position: relative;
      text-shadow: 0 1px 1px #8fb1a0;
    }

    h4 {
      font-size: 16px;
      color: #4d4d4d;
    }

    h5 {
      font-size: 14px;
      color: #4d4d4d;
    }

    h6 {
      color: #777;
      font-size: 14px;
    }

    .title {
      font-size: 24px;
      line-height: 32px;
      border-bottom: 4px double rgba(0, 0, 0, 0.1);
    }
    .title a {
      color: #4a4a4a;
      line-height: 32px;
      text-decoration: none;
    }
    .title a:hover {
      border-bottom: none;
    }
    p {
      line-height: 1.6;
      color: #565656;
    }
    ul, ol {
      list-style-type: disc;
      padding-left: 20px;
      margin-bottom: 1em;
      color: #565656;
    }
    ol{
      list-style-type: upper-roman;
      p{
        margin: 0;
      }
    }
    li {
      line-height: 24px;
    }
    a:hover {
      border-bottom: 3px double rgba(0, 0, 0, 0.1);
    }
    blockquote {
      position: relative;
      padding: 10px 10px;
      background: rgba(0, 0, 0, 0.1);
      margin-bottom: 1em;
      border-left: 5px solid #90b2a1;
    }
    blockquote:after {
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      left: -62px;
      content: "“";
      background: #44635d;
      background: -moz-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -webkit-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -o-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -ms-linear-gradient(to 0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: linear-gradient(to 0deg, #44635d 0%, #44635d 90%, #263733 100%);
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
    blockquote p {
      margin: 0 0;
      padding-bottom: 10px;
    }
    blockquote p:last-child {
      padding-bottom: 0;
    }

    table {
      position: relative;
      width: 100%;
      margin-bottom: 1em;
      color: #4d4d4d;
    }

    table:after {
      content: "⊞";
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      left: -62px;
      background: #44635d;
      background: -moz-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -webkit-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -o-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -ms-linear-gradient(to 0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: linear-gradient(to 0deg, #44635d 0%, #44635d 90%, #263733 100%);
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
    table th, table td {
      padding: 4px 0;
    }
    table th {
      background: rgba(0, 0, 0, 0.1);
    }
    table td {
      background: rgba(255, 255, 255, 0.3);
      text-indent: 6px;
    }

    pre {
      margin-bottom: 1em;
      padding: 10px 10px;
      color: #4d4d4d;
      background: rgba(0, 0, 0, 0.1);
      overflow: auto;
      border-radius: 7px;
    }
    .highlight {
      position: relative;
    }

    .highlight pre:after {
      content: "</>";
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      left: -62px;
      background: #44635d;
      background: -moz-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -webkit-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -o-linear-gradient(0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: -ms-linear-gradient(to 0deg, #44635d 0%, #44635d 90%, #263733 100%);
      background: linear-gradient(to 0deg, #44635d 0%, #44635d 90%, #263733 100%);
      font-size: 12px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }

    img {
      position: relative;
      max-width: 100%;
    }

    .more {
      position: absolute;
      width: 32px;
      height: 32px;
      background: #e54e4d;
      background: -moz-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -webkit-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -o-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -ms-linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      display: block;
      top: 0;
      left: -62px;
      text-decoration: none;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.98);
    }
    .more:hover {
      border-bottom: none;
      color: rgba(255, 255, 255, 0.86);
    }
    .info {
      font-size: 14px;
      line-height: 24px;
      vertical-align: middle;
    }
    .article-post .info {
      margin-bottom: 30px;
    }
    .info-title {
      color: #888;
      vertical-align: middle;
      line-height: 24px;
    }
    .info-date {
      margin-right: 15px;
      color: #565656;
      line-height: 24px;
      vertical-align: middle;
    }
    .info-link {
      margin-right: 15px;
      line-height: 24px;
      vertical-align: middle;
      border-bottom: none;
    }
    .info-link a:hover {
      border-bottom: none;
    }

    .pagination {
      line-height: 32px;
      padding-top: 20px;

    }
    .pagination li {
      float: left;
      margin: 0 10px 10px 0;
    }

    .pagination-icon {
      width: 32px;
      height: 32px;
      display: block;
      float: left;
      font-size: 16px;
      line-height: 32px;
      text-align: center;
      color: #fefefe;
      background: #99b9c4;
    }
    .pagination-list {
      margin-left: 10px;
      width: 550px;
      height: 32px;
      line-height: 32px;
      float: left;
    }
    .pagination-list li a {
      width: 32px;
      height: 32px;
      display: block;
      background: #f2eeec;
      text-align: center;
    }
    .pagination-list .current a {
      background: #e54e4d;
      color: #fefefe;
    }

    .article-year {
      position: relative;
      margin: 30px 0;
      padding: 0 0;
      list-style: none;
    }
    .article-year:after {
      content: attr(data-year);
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      left: -62px;
      background: #e54e4d;
      background: -moz-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -webkit-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -o-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -ms-linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      font-size: 12px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
    .article-year li {
      line-height: 32px;
      padding-bottom: 10px;
    }
    .article-year li span {
      width: 60px;
      text-align: right;
      padding: 0 10px;
      display: block;
      float: left;
      line-height: 32px;
      background: #99b9c4;
      color: #fefefe;
    }
    .article-year li a {
      width: 500px;
      display: block;
      float: left;
      line-height: 32px;
      background: #f2eeec;
      padding: 0 10px;
    }
    .article-year li a:hover {
      color: #45625d;
      border-bottom: none;
    }
    .about {
      margin: 30px 0;
      position: relative;
      height: auto;
    }
    .about:after {
      content: "❍";
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      left: -62px;
      background: #e54e4d;
      background: -moz-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -webkit-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -o-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -ms-linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      font-size: 12px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
    .about-image {
      width: 200px;
      float: left;
      height: auto;
    }
    .about-image img {
      width: 196px;
      height: auto;
      border: 2px solid #99b9c4;
    }
    .about-image img:hover {
      border: 2px solid #43625c;
    }
    .about-text {
      width: 380px;
      float: left;
      margin-right: 20px;
    }
    .about-text p:first-child {
      margin-top: 0;
    }
    .social {
      margin: 30px 0;
      position: relative;
      clear: both;
      height: auto;
    }
    .social:after {
      content: "☛";
      width: 32px;
      height: 32px;
      display: block;
      position: absolute;
      top: 0;
      left: -62px;
      background: #e54e4d;
      background: -moz-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -webkit-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -o-linear-gradient(0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: -ms-linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      background: linear-gradient(to 0deg, #e54e4d 0%, #e54e4d 90%, #b13c3c 100%);
      font-size: 12px;
      line-height: 32px;
      text-align: center;
      color: rgba(255, 255, 255, 0.8);
    }
    .social a {
      width: 32px;
      height: 32px;
      display: block;
      text-align: center;
      line-height: 32px;
      margin: 0 10px 10px 0;
      background: #f2eeec;
      float: left;
    }
    .social a:hover {
      background: #99b9c4;
      color: #fefefe;
      border-bottom: none;
    }
    .contact {
      margin: 30px 0;
      position: relative;
      height: auto;
    }
    .contact a {
      line-height: 32px;
      height: 32px;
      display: inline-block;
      text-align: center;
      padding: 0 10px;
      background: #f2eeec;
      width: auto;
    }
    .contact a:hover {
      background: #99b9c4;
      color: #fefefe;
      border-bottom: none;
    }

    .links {
      margin: 30px 0;
    }
    .links-category {
      margin-bottom: 10px;
    }
    .links-list {
      width: 100%;
      clear: both;
      list-style-type: none;
      padding: 0 0;
    }
    .links-list li {
      width: 40%;
      margin: 0 10% 10px 0;
      padding: 0 0;
      float: left;
    }

    .links-list li a {
      display: block;
      line-height: 32px;
      height: 32px;
      padding: 0 10px;
      background: #f2eeec;
    }
    .links-list li a:hover {
      border-bottom: none;
      color: #45625d;
    }
    .article-previous {
      margin: 20px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      position: relative;
    }
    .article-previous .prev,
    .article-previous .next {
      display: inline-block;
      height: 32px;
      line-height: 32px;
      padding: 0 10px;
      background: #f2eeec;
      border-bottom: none;
    }
    .article-previous .prev {
      float: left;
    }
    .article-previous .next {
      float: right;
    }
    .article-previous .prev:hover,
    .article-previous .next:hover {
      border-bottom: none;
      color: #45625d;
    }
    .comment {
      margin: 30px 0 0 0;
    }

    .categories {
      width: 100%;
      overflow: hidden;
      margin: 20px 0;
      padding-left: 0;
    }
    .categories .categories-item {
      list-style-type: none;
      background: #99b9c4;
      color: #fff;
      margin-right: 10px;
      padding: 3px 20px;
      float: left;
    }
    .categories .categories-item a {
      color: #fff;
    }
  }
}


@media screen and (max-width: 980px) {
  .container {
    width: 100%;
  }
  .main {
    width: 80%;
    margin: 0 auto;
  }
}



