<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <!-- meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="author" content="imsunhao"/>
    <meta name="description" content="孙颢的个人网志"/>
    <meta name="keywords" content=""/>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/blog/markdown.css">
    <% if(author == "张瀚月"){ %>
    <link rel="stylesheet" href="/stylesheets/blog/markdown-pink.css">
    <% } %>
    <link rel="stylesheet" href="/lib/prettify/prettify.css">
    <script src="/lib/jquery-3.1.1.min.js"></script>
    <% if(typeof(portrait)!="undefined"){ %>
    <link rel="stylesheet" href="/stylesheets/blog/markdown-read.css">
    <% } %>
    <% if(typeof(content)=="undefined"){ %>
    <script type="text/javascript" src="https://unpkg.com/marked@0.3.6"></script>
    <script type="text/javascript" src="https://unpkg.com/lodash@4.16.0"></script>
    <link rel="stylesheet" href="/stylesheets/blog/markdown-edit.css">
    <% } %>
    <script src="/lib/prettify/prettify.js"></script>
    <script src="/lib/vue/vue.js"></script>
    <script src="/lib/moment-with-locales.min.js"></script>




