<%- include public/header.ejs %>

<ul class="col-md-12">
    <li><a href="/meal/add">下订单</a></li>
    <li><a href="/meal/search">查看所有用户</a></li>
    <li><a href="JavaScript:void(0);">用户加钱（用户管理）（待完成）</a></li>
    <li><a href="/meal/addUser">添加用户</a></li>
    <li><a href="JavaScript:void(0);">添加临时用户（待完成）</a></li>
    <li><a href="JavaScript:void(0);">数据统计(查看所有账单)（待完成）</a></li>
</ul>

<%- include public/footer.ejs %>