<form action="/users/changePw" method="post">
    <table>
        <caption>修改密码</caption>
        <tr><th>原密码</th><th>新密码</th><th>确认新密码</th><th>提交</th></tr>
        <tr>
            <td><input type="password" name="oldPassword"></td>
            <td><input type="password" name="Password"></td>
            <td><input type="password" name="cPassword"></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>