<form action="/users/change/signature" method="post">
    <table>
        <caption>管理个性签名</caption>
        <tr><th>个性签名</th><th>确认修改</th></tr>
        <tr>
            <td><input type="text" name="signature" value="<%=signature%>"></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>