<style>
</style>
<table border="1" align="center">
    <caption>查询结构</caption>
    <th>头像</th>
    <th>用户名</th>
    <th>性别</th>
    <th>已经发布的文章数量</th>
    <th>个性签名</th>
    <th>管理</th>
    </tr>
    <tr>
        <td><img src="<%-user.portrait%>" alt=""></td>
        <td><%= user.username %></td>
        <%if(user.sex){%>
        <td>男</td>
        <%}else{%>
        <td>女</td>
        <%}%>
        <td><%= arts.length %></td>
        <td><%= user.signature %></td>
        <td><a href="/users/management">管理</a></td>
    </tr>
</table>