<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <style>
        .disabled {
            display: none;
        }

        .able {
            display: block;
        }
    </style>
    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body class="container">
<div class="col-md-12">
    <h1><%= title %>
        <small><a href="/meal">首页</a></small>
    </h1>
</div>